.divider {
  width: 2px; /* Ширина полосы */
  height: 28px; /* Высота полосы */
  background-color: #a3a3a3; /* Цвет полосы */
  margin: 0 12px; /* Расстояние между полосой и элементами */
}
//bg-gradient-to-b from-emerald-800

.container {
  @apply grid grid-cols-2 relative sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-8 gap-4 mt-4;
}

.item {
  @apply relative flex flex-col items-center justify-center rounded-md overflow-hidden gap-x-4 bg-neutral-400/5 cursor-pointer hover:bg-neutral-400/10 transition mb-10 p-3;
  animation: slideInLeft 1.5s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
