.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #00000060;
  backdrop-filter: blur(4px);
  animation-name: fadeIn;
  animation-duration: 0.3s;
  z-index: 2;
}

.closeBtn {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  @apply bg-neutral-400/5;
}

.closeBtn:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  background-color: #505050;
}

.window {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  animation-name: slideIn;
  animation-duration: 0.3s;
  position: relative;
  @apply h-auto py-10 my-auto bg-[#282828];
  > button {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 0.3s ease-in-out;
    font-size: 20px;
    &:hover {
      @apply text-slate-600;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
