.divider {
  width: 2px; /* Ширина полосы */
  height: 28px; /* Высота полосы */
  background-color: #a3a3a3; /* Цвет полосы */
  margin: 0 12px; /* Расстояние между полосой и элементами */
}
//bg-gradient-to-b from-emerald-800
