@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: white;
}

input[type='text']:read-only {
  cursor: not-allowed;
}

.main-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1;
  gap: 0;
}

.main-page {
  padding: 0.5rem;
  padding-left: 0;
}

/* Общие стили для скроллбара */
body {
  --sb-track-color: #151515;
  --sb-thumb-color: #252222;
  --sb-size: 8px;
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); /* Для Firefox */
}

/* Стили для WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/* Стили для Firefox */
html {
  scroll-behavior: smooth;
  scroll-margin: 0;
  scrollbar-width: thin;
}

::-moz-scrollbar {
  width: var(--sb-size);
}

::-moz-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/*-------------------------LOADER----------------------------*/

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}
@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
/*-----------------------------------------------------------*/
