.divider {
  width: 2px; /* Ширина полосы */
  height: 28px; /* Высота полосы */
  background-color: #a3a3a3; /* Цвет полосы */
  margin: 0 12px; /* Расстояние между полосой и элементами */
}

.profile {
  @apply bg-gradient-custom flex flex-col items-center justify-center py-4 gap-8 overflow-hidden overflow-y-hidden;

  &__header {
    @apply w-[1150px] flex justify-between items-center;
  }

  &__heading {
    @apply font-semibold text-4xl py-3 mt-10 mb-6;
  }

  &__logo {
    @apply flex gap-1 cursor-pointer items-center text-2xl font-semibold;
  }

  &__link {
    @apply hover:text-green-500 text-sm duration-200;
  }

  &__login {
    @apply text-sm font-semibold mb-12;
    > p {
      @apply text-xs font-normal;
    }
  }

  &__field {
    @apply w-full my-8;
  }
}

.buttons {
  @apply w-full flex justify-end;
  &__cancel {
    @apply py-3 px-5 font-semibold rounded-3xl text-[#9ba7a7];
  }
  &__submit {
    @apply bg-green-500 w-28 font-semibold rounded-3xl text-black;
  }
}
