.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  @apply bg-gradient-custom;
}
.form {
  @apply bg-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

.type {
  @apply text-3xl mb-2 font-bold text-center;
}

.customBtn {
  @apply px-14 py-2 text-black bg-secondary text-sm hover:bg-secondary/70 cursor-pointer duration-300;
}
.resetBtn {
  @apply border-none capitalize text-sm underline hover:text-green-500 duration-300 cursor-pointer;
}
